
@{
    ViewBag.Title = "Actualizacion de los datos";
    escuela_MVC.Models.Alumno Datos = ViewBag.Datos;
}

<div class="container">
    @using (Html.BeginForm("Actualizar","Home",FormMethod.Get))
    {
        <div class="form-group">
            <label class="control-label col-xs-3">Nombre: </label>
            <div class="col-xs-9">
                <input type="text" value="@Datos.sNombre" class="form-control" placeholder="@Datos.sNombre"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3">Apellido: </label>
            <div class="col-xs-9">
                <input type="text" value="@Datos.sApellido" class="form-control" placeholder="@Datos.sApellido" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3">Grupo: </label>
            <div class="col-xs-9">
                <input type="text" value="@Datos.sGrupo" class="form-control" placeholder="@Datos.sGrupo" />
            </div>
        </div>
    }
</div>

