
@{
    escuela_MVC.Models.Alumno datos = ViewBag.datos;
    ViewBag.Title = "VerDetalle";  
}

<div class="container">

    
        <div>
            <img src="@datos.sImage" width="200px" height="250xp" /><br />
     
            Matricula: @datos.pkAlumno <br />
            Nombre: @datos.sNombre<br />
            Apellido: @datos.sApellido <br />
            Grupo: @datos.sGrupo<br /> 
            
        </div>
    
</div>
